<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp-signup</title>
</head>
<body>
     <form onsubmit="signup(event)" class="sign-in-form" >
        <input type="text" name="name" required>
        <label for="name">Enter Username</label>
        <input type="email" name="email" required>
        <label for="email">Enter Email</label>
        <input type="tel" name="tel" required>
        <label for="tel">Phone</label>
        <input type="password" name="password" required>
        <label for="password">Enter Password</label>
        <button >Sign Up</button>
        <p>Existing User?<a href="login.html">Login</a></p>
    </form>
</body>
</html>